# Virtual environment
venv/

# Python cache files
**__pycache__/
*.pyc
*.pyo

# Environment files
config/.env
.env

# Django specific
*.log
db.sqlite3

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db