.container{
    text-align: center;
    align-items: center;
}

.header {
    position: relative;
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 2rem;
    border-radius: 20px;
    margin: 1rem auto;
    box-shadow: 0 4px 15px rgba(102, 126, 234, 0.3);
    color: white;
}

.badge-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.race-info{
    display: flex;
    justify-content: space-between;
}