<nav class="navbar navbar-expand-lg" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sim Racing League</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
        </li>      

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
        </li>      

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'league_list' %}">Leagues</a>
        </li> 

      </ul>

      <!-- User Authentication Links -->
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                {% if user.is_league_admin %}
                <a class="nav-link" href="{% url 'admin_dashboard' %}">Dashboard</a>
                {% else %}
                <a class="nav-link" href="{% url 'racer_dashboard' %}">Dashboard</a>
                {% endif %}
            </li>
          
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="nav-link btn-logout">
                <i class="fas fa-sign-out-alt"></i> Logout
              </button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">Sign In</a>
          </li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>
